10_Statistik-Grundlagen/Tag_3_Statistische-Visualisierung/Vorlesung/10_Skript_Statistische_Darstellungen_Vorlage.ipynb
DAQ_Python101/
11_Datenvisualisierung_mit_Python/Tag_8_Interaktivität-Plotly/Vorlesung/uebung2.svg
11_Datenvisualisierung_mit_Python/Tag_8_Interaktivität-Plotly/Vorlesung/11_Skript_Interaktivitaet_Plotly_Vorlage.ipynb
